@use 'colors';

header {
  width: 95%;
  max-width: 700px;
  margin-inline: auto;
  position: fixed;
  top: 25px;
  left: 0;
  right: 0;
  user-select: none;

  img {
    width: 100%;
  }

  h1 {
    margin-top: -10px;
    color: colors.$fill;
    font-size: min(6vw, 32px);
    font-family: 'Fredoka One';
    text-align: center;
    -webkit-text-stroke: colors.$border 1px;
    text-shadow: 2px 2px colors.$outline,
      2px -2px colors.$outline,
      -2px 2px colors.$outline,
      -2px -2px colors.$outline,
      0 2.25px colors.$outline,
      0 -2.25px colors.$outline,
      2.25px 0 colors.$outline,
      -2.25px 0 colors.$outline;
  }
}
