@use 'custom-text';

.playing header {
  img {
    transform: scale(.75);
    cursor: pointer;

    &:active {
      transform: scale(.7);
      transition: transform .2s;
    }
  }

  h1 {
    transform: translateY(-3.5vh) scale(.75);
    opacity: 0;
    pointer-events: none;
  }
}

header {
  width: 95%;
  max-width: 700px;
  margin-inline: auto;
  position: fixed;
  top: 25px;
  left: 0;
  right: 0;
  user-select: none;
  animation: slideIn 1.5s;

  img {
    width: 100%;
    transform-origin: top;
    transition: transform .5s;
  }

  h1 {
    @extend %custom-text;
    font-size: min(6vw, 32px);
  }
}
