$offset: 12.5%;

.playing .Waves {
  height: 15vh;
}

.Waves {
  height: 30vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  transition: height 1.5s;

  * {
    height: 100%;
    min-width: 1200px;
    position: absolute;
    bottom: 0;
    z-index: 1;
  }

  *:first-child {
    height: 100% + $offset;
  }

  *:last-child {
    height: 100% - $offset;
  }
}
