@use 'custom-text';
@use 'colors';
@use 'header';
@use 'home';
@use 'game';
@use 'game-over';
@use 'waves';

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top, #38498e, #181a41, #111220);

  .Home,
  .Game,
  .GameOver {
    width: fit-content;
    margin: auto;
    padding-top: 40px;
    padding-inline: 20px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fadeIn .5s;
  }

  .Score {
    @extend %custom-text;
    position: fixed;
    top: min(calc(15vh + 10vw), 240px);
    font-size: min(8vw, 40px);
    animation: slideIn 1s;
  }
}
